<section class="blank-page" aria-hidden="true">
  <div class="blank-page__inner"></div>
</section>

{% schema %}
{
  "name": "Blank page",
  "tag": "section",
  "class": "main-blank-section",
  "settings": []
}
{% endschema %}
